body
  font-family: 'Open Sans', sans-serif

#header
  background: url("../img/header-bg.png") no-repeat
  background-size: cover
  height: 700px
  transform: skew(0deg, -5deg) translateY(-70px)
  .wrapper
    transform: skew(0deg, 5deg)
    padding-top: 50px;
  
  header
    h1
      color: white
      text-transform: uppercase
      margin-top: 100px

    h1::after
      content: ""
      width: 150px
      background-color: white
      height: 3px
      display: block
      margin-top: 40px;
    p 
      width: 600px
      font-weight: bold
      font-size: 20px
    color: white!important




.wrapper-starter
  width: 100%
  background: white
  padding: 40px
  border-radius: 2px
  box-shadow: 0 2px 20px rgba(0,0,0, 0.7)
  text-align: left

